PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/property-management-crm
JWT_SECRET=replace-with-a-strong-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xhIaW4VP3OkjKYvR_Fw6mbBA19WdgtHj5sTOx68cvfXNxK7